<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-CALayer的基本操作.(熟悉).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>82FEA4C21DF90508009EBE53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82FEA4DB1DF90508009EBE53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82FEA4E61DF90508009EBE53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
